# Python 仮想環境
.venv/
venv/
env/

# Python キャッシュ
__pycache__/
*.pyc

# OS 固有のファイル (Mac)
.DS_Store

# エディタ設定 (VS Code など)
.vscode/
*.code-workspace

# 模範解答ファイルとその他ファイル
*_sol.py
Instructor_memo.md
*.json
